p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

:root {
  --main-text-color: #889099;
  --main-title-color: #22252e;
  --second-title-color: #323642;
  --accent: #4cb649;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0;
  }
}

.second-container {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .second-container {
    width: 375px;
  }
}

@media screen and (min-width: 1200px) {
  .second-container {
    padding-left: 10px;
    padding-right: 10px;
    width: 1200px;
  }
}

.hero-card__text {
  padding: 30px 30px 14px 30px;
}

.hero-card__title, .recent-posts-card__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.41;
  color: var(--main-title-color);
  margin-bottom: 14px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-card__title:hover, .recent-posts-card__title:hover, .hero-card__title:focus, .recent-posts-card__title:focus {
  color: var(--accent);
}

@media screen and (min-width: 1200px) {
  .hero-card__title, .recent-posts-card__title {
    margin-bottom: 8px;
  }
}

.hero-card__name, .recent-posts-card__name {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: var(--second-title-color);
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .hero-card__name, .recent-posts-card__name {
    margin-bottom: 8px;
  }
}

.hero-card__dataname, .recent-posts-card__data {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: var(--main-text-color);
}

.hero-card__list, .recent-posts-card__items {
  display: flex;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .hero-card__list, .recent-posts-card__items {
    margin-bottom: 8px;
  }
}

.hero-card__link, .recent-posts-card__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--accent);
}

.hero-card__comment, .recent-posts-card__comment {
  display: flex;
}

.hero-card__commentbtn, .recent-posts-card__commentbtn {
  width: 20px;
  height: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.hero-card__commentcount, .recent-posts-card__commentcount {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: var(--main-text-color);
  margin-left: 9px;
}

.announcements, .popular-posts {
  padding-top: 70px;
}

.announcements__box, .popular-posts__box {
  display: flex;
  margin-bottom: 30px;
}

.announcements__title, .popular-posts__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.42;
  color: var(--main-title-color);
  margin-left: 30px;
}

.announcements__list, .popular-posts__list {
  list-style: disc;
  margin-bottom: -16px;
}

.announcements__item, .popular-posts__item {
  margin-bottom: 16px;
}

.announcements__item::marker, .popular-posts__item::marker {
  color: var(--accent);
}

.announcements__link, .popular-posts__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: var(--second-title-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.announcements__link:hover, .popular-posts__link:hover, .announcements__link:focus, .popular-posts__link:focus {
  color: var(--accent);
}

.warning {
  padding-top: 10px;
  padding-bottom: 13px;
  background-color: #22252e;
}

.warning__box {
  position: relative;
  padding-right: 10px;
  padding-left: 20px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 375px) {
  .warning__box {
    width: 375px;
  }
}

@media screen and (min-width: 1200px) {
  .warning__box {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.warning-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -5px;
}

@media screen and (min-width: 1200px) {
  .warning-list {
    margin-bottom: 0;
    margin-right: -32px;
  }
}

.warning-list__item {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

@media screen and (min-width: 1200px) {
  .warning-list__item {
    margin-bottom: 0;
    margin-right: 32px;
  }
}

.warning-list__item--color {
  font-weight: 700;
  color: #ff8d00;
  margin-right: 95px;
}

@media screen and (min-width: 1200px) {
  .warning-list__item--color {
    margin-right: 32px;
  }
}

.warning-list__svg {
  margin-right: 4px;
}

.warning-list__btn {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #ffffff;
  margin-right: 13px;
  border: none;
  background-color: #22252e;
  padding: 0px;
}

@media screen and (min-width: 1200px) {
  .warning-list__btn {
    margin: 0;
  }
}

.warning__btncross {
  border: none;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22252e;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 10px;
}

@media screen and (min-width: 1200px) {
  .warning-list__item--learn {
    order: 4;
  }
}

.warning-list__item--ip {
  margin-right: 15px;
}

@media screen and (min-width: 1200px) {
  .warning-list__item--ip {
    margin-right: 32px;
  }
}

.header {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;
    width: 375px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .header-nav {
    width: 375px;
  }
}

@media screen and (min-width: 1200px) {
  .header-nav {
    width: 1200px;
  }
}

.header-nav__btn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  padding: 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__btn:hover, .header-nav__btn:focus {
  color: var(--accent);
}

@media screen and (min-width: 1200px) {
  .header-nav__btn {
    display: none;
  }
}

.header-nav__icon {
  fill: currentColor;
}

.header__title {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #000000;
  margin-left: 16px;
  display: flex;
}

@media screen and (min-width: 1200px) {
  .header__title {
    margin-left: 0;
    margin-right: 243px;
  }
}

.header__list {
  display: flex;
  margin-right: -30px;
}

@media screen and (max-width: 1199px) {
  .header__list {
    display: none;
  }
}

.header__items {
  margin-right: 30px;
}

.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--second-title-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover, .header__link:focus {
  color: var(--accent);
}

.header__link.header__link--current::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--accent);
  position: absolute;
  bottom: -6px;
}

.header__icon {
  transform: rotate(90deg);
}

.header__startbtn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(0deg, #4cb649 0%, #5ddf5a 100%);
  border-radius: 30px;
  border: none;
  width: 126px;
  height: 40px;
}

@media screen and (min-width: 1200px) {
  .header__startbtn {
    width: 160px;
  }
}

@media screen and (min-width: 1200px) {
  .header__boxbtn {
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translateY(-50%);
  }
}

.header__logintbtn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: var(--accent);
  border: 1px solid #4cb649;
  border-radius: 30px;
  height: 40px;
  width: 90px;
  background-color: transparent;
  margin-right: 10px;
}

@media screen and (max-width: 1199px) {
  .header__logintbtn {
    display: none;
  }
}

.hero {
  padding-top: 42px;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 0;
  }
}

.hero-card {
  background: #ffffff;
  border: 1px solid #d7d8d9;
  border-radius: 6px;
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.101961));
}

@media screen and (min-width: 1200px) {
  .hero-card {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .hero-card__text {
    padding: 60px 60px 0px 60px;
    width: 600px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-card__title {
    margin-bottom: 84px;
  }
}

.hero-card__dataname {
  margin-left: 8px;
}

.tags {
  padding-top: 30px;
  padding-bottom: 40px;
}

@media screen and (max-width: 1199px) {
  .tags {
    display: none;
  }
}

.tags__box {
  display: flex;
  padding: 21px 32px;
  background-color: #f7f7f7;
}

.tags__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-right: 43px;
}

.tags__list {
  display: flex;
  margin-right: -37px;
}

.tags__items {
  margin-right: 37px;
}

.tags__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: var(--accent);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tags__link:hover, .tags__link:focus {
  color: var(--main-title-color);
}

.tags-contact__list {
  display: flex;
  margin-left: auto;
  margin-right: -38px;
}

.tags-contact__btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--second-title-color);
  border: none;
  background-color: transparent;
  margin-right: 38px;
}

.announcements-input {
  padding-top: 29px;
  padding-bottom: 40px;
}

@media screen and (min-width: 1200px) {
  .announcements-input {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .announcements-input__desktop {
    display: none;
  }
}

.announcements-input__box {
  position: relative;
}

.announcements-input__input {
  width: 100%;
  padding: 16px 10px 15px 58px;
  border: 1px solid #d7d8d9;
  border-radius: 4px;
}

.announcements-input__input::placeholder {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-title-color);
}

.announcements-input__icon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (min-width: 1200px) {
  .announcements-input__icon {
    filter: none;
  }
}

.mix__box {
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (min-width: 1200px) {
  .mix__box {
    width: 1200px;
    display: flex;
    padding: 0;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .recent-posts__box {
    width: 750px;
    margin-right: 50px;
  }
}

.recent-posts__title {
  font-weight: 300;
  font-size: 32px;
  line-height: 1.38;
  color: var(--main-title-color);
  margin-bottom: 40px;
}

.recent-posts__list {
  margin-bottom: -20px;
}

@media screen and (min-width: 1200px) {
  .recent-posts__list {
    margin-bottom: -30px;
  }
}

.recent-posts__item {
  margin-bottom: 20px;
  border-bottom: 1px solid;
  border-color: #ebeced;
  padding-bottom: 40px;
}

@media screen and (min-width: 1200px) {
  .recent-posts__item {
    display: flex;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .recent-posts__imgbox {
    width: 280px;
  }
}

@media screen and (max-width: 1199px) {
  .recent-posts__item--desktop {
    display: none;
  }
}

.recent-posts-card__text {
  padding-top: 20px;
}

@media screen and (min-width: 1200px) {
  .recent-posts-card__text {
    margin-left: 40px;
    padding: 0;
    width: 430px;
  }
}

.recent-posts-card__data {
  margin-left: 8px;
}

.recent-posts-card__items {
  flex-wrap: wrap;
}

.recent-posts__btnolderposts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: var(--accent);
  width: 100%;
  height: 40px;
  border: 1px solid var(--accent);
  border-radius: 30px;
  background-color: transparent;
  margin-top: 60px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .recent-posts__btnolderposts {
    width: 260px;
    margin-top: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .announcements {
    padding-top: 0px;
    margin-top: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .pop-annouc__box {
    width: 400px;
    padding-left: 70px;
    border-left: 1px solid #ebeced;
  }
}

.popular-posts {
  padding-bottom: 70px;
}

.popular-posts__img {
  width: 40px;
}

.popular-posts__list {
  border-bottom: 1px solid;
  border-color: #ebeced;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.popular-posts__tag {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.42;
  color: var(--main-title-color);
  margin-top: 60px;
  margin-bottom: 15px;
}

.sign-up {
  background: linear-gradient(161.3deg, #3d4251 7.63%, #272b35 90.9%);
  padding-top: 60px;
  padding-bottom: 44px;
}

@media screen and (min-width: 1200px) {
  .sign-up {
    padding-top: 100px;
    padding-bottom: 53px;
  }
}

.sign-up__title {
  font-weight: 300;
  font-size: 32px;
  line-height: 1.38;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}

@media screen and (min-width: 1200px) {
  .sign-up__title {
    font-size: 48px;
    line-height: 1.33;
    letter-spacing: -0.5px;
  }
}

.sign-up__list {
  margin-bottom: -20px;
}

@media screen and (min-width: 1200px) {
  .sign-up__list {
    display: flex;
    margin-right: -20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
}

.sign-up__item {
  background: #ffffff;
  border: 1px solid #ebeced;
  border-radius: 6px;
  text-align: center;
  padding: 48px 55px 40px 55px;
  margin-bottom: 20px;
  width: 315px;
  height: 100%;
}

@media screen and (max-width: 375px) {
  .sign-up__item {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .sign-up__item {
    margin-right: 20px;
    width: 380px;
    height: 340px;
    margin-bottom: 0;
  }
}

.sign-up__item--second {
  border: 4px solid #ff8d00;
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .sign-up__item--second {
    height: 380px;
    border-color: var(--accent);
    padding: 59px 87px 59px 88px;
  }
}

.sign-up-item__title {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-bottom: 30px;
}

.sign-up-item__title::after {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translatex(-50%);
  content: "";
  width: 24px;
  height: 2px;
  background-color: var(--accent);
  border-radius: 2px;
}

.sign-up__box {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid;
  border-color: #ebeced;
  padding-bottom: 10px;
}

.sign-up__sign {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.33;
  align-items: flex-start;
  margin-right: 8px;
  padding-top: 12px;
}

.sign-up__number {
  font-weight: 300;
  font-size: 56px;
  line-height: 1.17;
  letter-spacing: -1.5px;
}

.sign-up__mo {
  display: flex;
  align-items: flex-end;
}

.sign-up__oldprice {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  text-decoration-line: line-through;
  color: #f24458;
  margin-right: 8px;
}

.sign-up__priceyear {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  margin-top: 16px;
  margin-bottom: 25px;
}

.sign-up__discount {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  margin-top: 30px;
  margin-bottom: 30px;
}

.sign-up__btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #4cb649;
  width: 205px;
  height: 40px;
  border: 1px solid #4cb649;
  border-radius: 30px;
  background-color: transparent;
}

@media screen and (max-width: 374px) {
  .sign-up__btn {
    width: 100%;
  }
}

.sign-up__btn--color {
  color: #ffffff;
  background: linear-gradient(0deg, #ff8d00 3.81%, #ffa400 97.78%);
  border: none;
}

@media screen and (min-width: 1200px) {
  .sign-up__btn--color {
    background: linear-gradient(0deg, #4cb649 0%, #5ddf5a 100%);
  }
}

@media screen and (min-width: 1200px) {
  .sign-up-pay__box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 54px;
  }
}

.sign-up-pay__title {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .sign-up-pay__title {
    margin: 0;
    margin-right: 30px;
  }
}

.sign-up-pay__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -32px;
}

@media screen and (min-width: 1200px) {
  .sign-up-pay__list {
    margin-right: -35px;
    margin-bottom: 0;
    align-items: center;
  }
}

.sign-up-pay__item {
  margin-bottom: 32px;
}

.sign-up-pay__item:nth-child(7) {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .sign-up-pay__item {
    margin-right: 35px;
    margin-bottom: 0;
  }
}

.sign-up-pay__icon {
  margin-left: 12px;
}

.sign-up__btnbox {
  margin-top: 40px;
}

@media screen and (min-width: 1200px) {
  .sign-up__btnbox {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}

.sign-up-pay__anonymouslink, .sign-up-pay__cardlink {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 1200px) {
  .sign-up-pay__anonymouslink, .sign-up-pay__cardlink {
    margin: 0px 40px 0px 0px;
  }
}

.sign-up-pay__cardlink {
  margin-top: 34px;
}

@media screen and (min-width: 1200px) {
  .sign-up-pay__cardlink {
    margin-top: 0;
    margin-right: 0;
  }
}

.footer {
  padding-top: 45px;
  padding-bottom: 45px;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 85px 0px;
  }
}

.footer__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #000000;
  margin-bottom: 54px;
}

@media screen and (min-width: 1200px) {
  .footer__title {
    font-weight: 400;
    font-size: 27px;
    line-height: 1.22;
  }
}

@media screen and (min-width: 1200px) {
  .footer__box {
    display: flex;
  }
}

.footer__cplbox {
  display: flex;
}

@media screen and (min-width: 1200px) {
  .footer__companybox {
    width: 154px;
  }
}

.footer__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323642;
  margin-bottom: 20px;
}

.company__list {
  margin-bottom: -15px;
}

.company__item {
  margin-bottom: 15px;
}

.company__link, .programs__link, .learn-more__link, .legal__link, .footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: var(--main-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.company__link:hover, .programs__link:hover, .learn-more__link:hover, .legal__link:hover, .footer__text:hover, .company__link:focus, .programs__link:focus, .learn-more__link:focus, .legal__link:focus, .footer__text:focus {
  color: var(--accent);
}

.footer-programs-learn-more-box {
  margin-left: 35px;
}

@media screen and (min-width: 1200px) {
  .footer-programs-learn-more-box {
    margin-left: 46px;
    width: 164px;
    margin-right: 36px;
  }
}

.programs__list {
  margin-bottom: 35px;
}

@media screen and (min-width: 1200px) {
  .programs__list {
    margin-bottom: 88px;
  }
}

.programs__item {
  margin-bottom: 15px;
}

.learn-more__list {
  margin-bottom: -15px;
}

.learn-more__item {
  margin-bottom: 15px;
}

.legal-social__box {
  display: flex;
  margin-top: 35px;
  margin-bottom: 40px;
}

@media screen and (min-width: 1200px) {
  .legal-social__box {
    margin: 0;
  }
}

.legal__box {
  width: 140px;
}

@media screen and (min-width: 1200px) {
  .legal__box {
    margin-right: 60px;
  }
}

.legal__list {
  margin-bottom: -15px;
}

.legal__item {
  margin-bottom: 15px;
}

.social__box {
  width: 143px;
  margin-left: 40px;
}

@media screen and (min-width: 1200px) {
  .social__box {
    display: none;
  }
}

.social__box-desktop {
  margin-top: 40px;
}

@media screen and (max-width: 1199px) {
  .social__box-desktop {
    display: none;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-bottom: -22px;
}

@media screen and (min-width: 1200px) {
  .social__list {
    flex-wrap: nowrap;
    margin-right: -32px;
    margin-bottom: 0;
  }
}

.social__item {
  flex-basis: calc(100% / 2 - 30px);
  margin-bottom: 22px;
}

@media screen and (min-width: 1200px) {
  .social__item {
    flex-basis: auto;
    margin-bottom: 0;
    margin-right: 32px;
  }
}

.social__link {
  color: var(--second-title-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  color: blue;
}

.social__link--color {
  color: var(--second-title-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--color:hover, .social__link--color:focus {
  color: red;
}

.social__icon {
  fill: currentColor;
}

.footer__text {
  margin-bottom: 38px;
}

.footer__smalltext {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: var(--main-text-color);
  margin-bottom: 23px;
}

.footer__rights {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: var(--main-text-color);
}
/*# sourceMappingURL=main.css.map */