.footer {
  padding-top: 45px;
  padding-bottom: 45px;
  @media screen and (min-width: 1200px) {
    padding: 85px 0px;
  }
}

.footer__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #000000;
  margin-bottom: 54px;
  @media screen and (min-width: 1200px) {
    font-weight: 400;
    font-size: 27px;
    line-height: 1.22;
  }
}

.footer__box {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer__cplbox {
  display: flex;
}

.footer__companybox {
  @media screen and (min-width: 1200px) {
    width: 154px;
  }
}

.footer__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323642;
  margin-bottom: 20px;
}

.company__list {
  margin-bottom: -15px;
}

.company__item {
  margin-bottom: 15px;
}

.company__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: var(--main-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.footer-programs-learn-more-box {
  margin-left: 35px;
  @media screen and (min-width: 1200px) {
    margin-left: 46px;
    width: 164px;
    margin-right: 36px;
  }
}

.programs__list {
  margin-bottom: 35px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 88px;
  }
}

.programs__item {
  margin-bottom: 15px;
}

.programs__link {
  @extend .company__link;
}

.learn-more__list {
  margin-bottom: -15px;
}

.learn-more__item {
  margin-bottom: 15px;
}
.learn-more__link {
  @extend .company__link;
}

.legal-social__box {
  display: flex;
  margin-top: 35px;
  margin-bottom: 40px;
  @media screen and (min-width: 1200px) {
    margin: 0;
  }
}

.legal__box {
  width: 140px;
  @media screen and (min-width: 1200px) {
    margin-right: 60px;
  }
}

.legal__list {
  margin-bottom: -15px;
}

.legal__item {
  margin-bottom: 15px;
}

.legal__link {
  @extend .company__link;
}

.social__box {
  width: 143px;
  margin-left: 40px;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.social__box-desktop {
  margin-top: 40px;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-bottom: -22px;
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    margin-right: -32px;
    margin-bottom: 0;
  }
}

.social__item {
  flex-basis: calc(100% / 2 - 30px);
  margin-bottom: 22px;
  @media screen and (min-width: 1200px) {
    flex-basis: auto;
    margin-bottom: 0;
    margin-right: 32px;
  }
}

.social__link {
  color: var(--second-title-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: blue;
  }
}

.social__link--color {
  color: var(--second-title-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: red;
  }
}

.social__icon {
  fill: currentColor;
}

.footer__text {
  @extend .company__link;
  margin-bottom: 38px;
}

.footer__smalltext {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: var(--main-text-color);
  margin-bottom: 23px;
}

.footer__rights {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: var(--main-text-color);
}
