.header-box {
  display: flex;
  padding: 15px 10px 15px 4px;
  align-items: center;
}

.header-nav__btn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  padding: 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.header-nav__icon {
  fill: currentColor;
}

.header-title {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #000000;
  margin-left: 16px;
  margin-right: 43px;
}

.header-nav__start {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(0deg, #4cb649 0%, #5ddf5a 100%);
  border-radius: 30px;
  border: none;
  width: 126px;
  height: 40px;
}
