.header {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 auto;
  @media screen and (min-width: 375px) {
    padding-left: 10px;
    padding-right: 10px;
    width: 375px;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  @media screen and (max-width: 1199px) {
    width: 375px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.header-nav__btn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  padding: 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent);
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.header-nav__icon {
  fill: currentColor;
}

.header__title {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #000000;
  margin-left: 16px;
  display: flex;
  @media screen and (min-width: 1200px) {
    margin-left: 0;
    margin-right: 243px;
  }
}

.header__list {
  display: flex;
  margin-right: -30px;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.header__items {
  margin-right: 30px;
}

.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--second-title-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent);
  }
  &.header__link--current::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--accent);
    position: absolute;
    bottom: -6px;
  }
}

.header__icon {
  transform: rotate(90deg);
}

.header__startbtn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(0deg, #4cb649 0%, #5ddf5a 100%);
  border-radius: 30px;
  border: none;
  width: 126px;
  height: 40px;
  @media screen and (min-width: 1200px) {
    width: 160px;
  }
}

.header__boxbtn {
  @media screen and (min-width: 1200px) {
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translateY(-50%);
  }
}

.header__logintbtn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: var(--accent);
  border: 1px solid #4cb649;
  border-radius: 30px;
  height: 40px;
  width: 90px;
  background-color: transparent;
  margin-right: 10px;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
