.hero {
  padding-top: 42px;
  @media screen and (min-width: 1200px) {
    padding: 0;
  }
}

.hero-card {
  background: #ffffff;
  border: 1px solid #d7d8d9;
  border-radius: 6px;
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.101961));
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.hero-card__text {
  @extend %card__text;
  @media screen and (min-width: 1200px) {
    padding: 60px 60px 0px 60px;
    width: 600px;
  }
}

.hero-card__title {
  @extend %card__title;
  @media screen and (min-width: 1200px) {
    margin-bottom: 84px;
  }
}

.hero-card__name {
  @extend %card__name;
}

.hero-card__dataname {
  @extend %card__dataname;
  margin-left: 8px;
}

.hero-card__list {
  @extend %card-list;
}

.hero-card__link {
  @extend %card-list__link;
}

.hero-card__comment {
  @extend %card__comment;
}

.hero-card__commentbtn {
  @extend %card__commentbtn;
}

.hero-card__commentcount {
  @extend %card__commentcount;
}
