.mix__box {
  padding-left: 30px;
  padding-right: 30px;
  @media screen and (min-width: 1200px) {
    width: 1200px;
    display: flex;
    padding: 0;
    margin: 0 auto;
  }
}

.recent-posts__box {
  @media screen and (min-width: 1200px) {
    width: 750px;
    margin-right: 50px;
  }
}

.recent-posts__title {
  font-weight: 300;
  font-size: 32px;
  line-height: 1.38;
  color: var(--main-title-color);
  margin-bottom: 40px;
}

.recent-posts__list {
  margin-bottom: -20px;
  @media screen and (min-width: 1200px) {
    margin-bottom: -30px;
  }
}

.recent-posts__item {
  margin-bottom: 20px;
  border-bottom: 1px solid;
  border-color: #ebeced;
  padding-bottom: 40px;
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-bottom: 30px;
  }
}

.recent-posts__imgbox {
  @media screen and (min-width: 1200px) {
    width: 280px;
  }
}

.recent-posts__item--desktop {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.recent-posts-card__text {
  padding-top: 20px;
  @media screen and (min-width: 1200px) {
    margin-left: 40px;
    padding: 0;
    width: 430px;
  }
}

.recent-posts-card__title {
  @extend %card__title;
}

.recent-posts-card__name {
  @extend %card__name;
}

.recent-posts-card__data {
  @extend %card__dataname;
  margin-left: 8px;
}

.recent-posts-card__items {
  @extend %card-list;
  flex-wrap: wrap;
}

.recent-posts-card__link {
  @extend %card-list__link;
}

.recent-posts-card__comment {
  @extend %card__comment;
}
.recent-posts-card__commentbtn {
  @extend %card__commentbtn;
}
.recent-posts-card__commentcount {
  @extend %card__commentcount;
}

.recent-posts__btnolderposts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: var(--accent);
  width: 100%;
  height: 40px;
  border: 1px solid var(--accent);
  border-radius: 30px;
  background-color: transparent;
  margin-top: 60px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 1200px) {
    width: 260px;
    margin-top: 70px;
  }
}
