.sign-up {
  background: linear-gradient(161.3deg, #3d4251 7.63%, #272b35 90.9%);
  padding-top: 60px;
  padding-bottom: 44px;
  @media screen and (min-width: 1200px) {
    padding-top: 100px;
    padding-bottom: 53px;
  }
}

.sign-up__title {
  font-weight: 300;
  font-size: 32px;
  line-height: 1.38;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
  @media screen and (min-width: 1200px) {
    font-size: 48px;
    line-height: 1.33;
    letter-spacing: -0.5px;
  }
}

.sign-up__list {
  margin-bottom: -20px;
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-right: -20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
}

.sign-up__item {
  background: #ffffff;
  border: 1px solid #ebeced;
  border-radius: 6px;
  text-align: center;
  padding: 48px 55px 40px 55px;
  margin-bottom: 20px;
  width: 315px;
  height: 100%;
  @media screen and (max-width: 375px) {
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 20px;
    width: 380px;
    height: 340px;
    margin-bottom: 0;
  }
}

.sign-up__item--second {
  border: 4px solid #ff8d00;
  border-radius: 4px;
  @media screen and (min-width: 1200px) {
    height: 380px;
    border-color: var(--accent);
    padding: 59px 87px 59px 88px;
  }
}

.sign-up-item__title {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-bottom: 30px;
  &::after {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translatex(-50%);
    content: "";
    width: 24px;
    height: 2px;
    background-color: var(--accent);
    border-radius: 2px;
  }
}

.sign-up__box {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid;
  border-color: #ebeced;
  padding-bottom: 10px;
}

.sign-up__sign {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.33;
  align-items: flex-start;
  margin-right: 8px;
  padding-top: 12px;
}

.sign-up__number {
  font-weight: 300;
  font-size: 56px;
  line-height: 1.17;
  letter-spacing: -1.5px;
}

.sign-up__mo {
  display: flex;
  align-items: flex-end;
}

.sign-up__oldprice {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  text-decoration-line: line-through;
  color: #f24458;
  margin-right: 8px;
}

.sign-up__priceyear {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  margin-top: 16px;
  margin-bottom: 25px;
}

.sign-up__discount {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  margin-top: 30px;
  margin-bottom: 30px;
}

.sign-up__btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #4cb649;
  width: 205px;
  height: 40px;
  border: 1px solid #4cb649;
  border-radius: 30px;
  background-color: transparent;
  @media screen and (max-width: 374px) {
    width: 100%;
  }
}

.sign-up__btn--color {
  color: #ffffff;
  background: linear-gradient(0deg, #ff8d00 3.81%, #ffa400 97.78%);
  border: none;
  @media screen and (min-width: 1200px) {
    background: linear-gradient(0deg, #4cb649 0%, #5ddf5a 100%);
  }
}

.sign-up-pay__box {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 54px;
  }
}

.sign-up-pay__title {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    margin: 0;
    margin-right: 30px;
  }
}

.sign-up-pay__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -32px;
  @media screen and (min-width: 1200px) {
    margin-right: -35px;
    margin-bottom: 0;
    align-items: center;
  }
}

.sign-up-pay__item {
  margin-bottom: 32px;
  &:nth-child(7) {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 35px;
    margin-bottom: 0;
  }
}

.sign-up-pay__icon {
  margin-left: 12px;
}

.sign-up__btnbox {
  margin-top: 40px;
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}

.sign-up-pay__anonymouslink {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border: none;
  @media screen and (min-width: 1200px) {
    margin: 0px 40px 0px 0px;
  }
}

.sign-up-pay__cardlink {
  @extend .sign-up-pay__anonymouslink;
  margin-top: 34px;
  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-right: 0;
  }
}
