.warning {
  padding-top: 10px;
  padding-bottom: 13px;
  background-color: #22252e;
}

.warning__box {
  position: relative;
  padding-right: 10px;
  padding-left: 20px;
  margin: 0 auto;
  width: 100%;
  @media screen and (min-width: 375px) {
    width: 375px;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.warning-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -5px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: -32px;
  }
}

.warning-list__item {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 32px;
  }
}

.warning-list__item--color {
  font-weight: 700;
  color: #ff8d00;
  margin-right: 95px;
  @media screen and (min-width: 1200px) {
    margin-right: 32px;
  }
}

.warning-list__svg {
  margin-right: 4px;
}

.warning-list__btn {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #ffffff;
  margin-right: 13px;
  border: none;
  background-color: #22252e;
  padding: 0px;
  @media screen and (min-width: 1200px) {
    margin: 0;
  }
}

.warning__btncross {
  border: none;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22252e;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 10px;
}

.warning-list__item--learn {
  @media screen and (min-width: 1200px) {
    order: 4;
  }
}

.warning-list__item--ip {
  margin-right: 15px;
  @media screen and (min-width: 1200px) {
    margin-right: 32px;
  }
}
